.single-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.game-div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hud-div{
    position: absolute;
    height: 667px;
    width: 375px;
}

#render-game{
    position: relative;
    z-index: 1;
}

