.leaderItem-body{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-image: linear-gradient(35deg, rgb(29, 9, 9) 9%, rgb(38, 7, 44) 59%, rgb(13, 2, 34) 95%);    */
    background: rgba(0, 0, 0, 0.295);
    border-bottom: 2px solid black;
    font-size: 25px;
    font-family: 'Segoe UI';
    font-weight: bold;
    color: white;
    padding: 0 25px;
}