#progress-bar {
    height: 100px;
    width: 0px;
    border-right: 1px dotted white;
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 30px;
}

/* .moon-div {
    height: 10px;
    width: 10px;
}

.rocket-div {
    height: 10px;
    width: 10px;
} */

.moon-icon {
    height: 15px;
    width: 15px;
}

.rocket-icon {
    height: 15px;
    width: 15px;
}

@media(min-width: 1496px){
    #progress-bar{
        right: 77%;
    }
}