.boost-container{
    height: 50px;
    width: 300px;
    background: rgba(0, 0, 0, 0.637);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    top: 590px;
    left: 35px;
}

.boost-meter-container{
    width: 95%;
    height: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.boost-meter-container>p{
    color: rgba(44, 230, 255, 0.226);
    position: absolute;
    left: calc(50% - 72px);
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    letter-spacing: 5px;
    z-index: -1;
}

.boost-meter{
    width: 50%;
    height: 100%;
    background: rgb(36, 222, 228);
    border-radius: 5px;
}

.boost-button{
    height: 100%;
    background: rgb(255, 0, 234);
    border-radius: 5px;
    animation: glow;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes glow{
    0%{
        background: rgb(255, 0, 255);
        box-shadow: 0 0 20px 5px rgb(255, 255, 255), 0 10px 10px 0 rgb(255, 255, 255);
    }100%{
        background: rgb(42, 212, 255);
    }
}