.boost-container{
    height: 50px;
    width: 300px;
    background: rgba(0, 0, 0, 0.637);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 15px;
    margin-left: calc((100% - 300px) / 2);
}

.boost-meter-container{
    width: 95%;
    height: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.boost-meter-container>p{
    color: rgba(44, 230, 255, 0.226);
    position: absolute;
    left: calc(50% - 72px);
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    letter-spacing: 5px;
    z-index: -1;
}

.boost-meter{
    width: 50%;
    height: 100%;
    background: rgb(36, 222, 228);
    border-radius: 5px;
}

.boost-button{
    height: 100%;
    background: rgb(255, 255, 255);
    border-radius: 5px;
}

@media (min-width: 1496px){
    .boost-container {
        margin-left: 40px;
        bottom: 240px;
    }
}