
.whole-login {
    background-image: linear-gradient(135deg, rgba(2,0,36,1) 9%, rgba(103,9,121,1) 39%, rgba(0,212,255,1) 81%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%
    
}

.box-effects {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-image: linear-gradient(128deg, rgba(64, 61, 57, 0.01), rgba(255, 255, 255, 0.2));
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
    width: 90%;
    height: 35%;
    margin-left: 5%;
    padding-top: 40px;

}

.welcome-to {
    color: white;
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
}

.rttm {
    color: white;
    font-family: 'Russo One', sans-serif;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 45px;
    text-shadow: 2px 2px 5px red;
}

.login-button {
    background-image: linear-gradient(135deg, rgba(2,0,36,1) 9%, rgba(103,9,121,1) 39%, rgba(0,212,255,1) 81%);
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
    color: white;
    font-family: 'Russo One', sans-serif;
    border: none;
    margin: 10px;
    height: 45px;
    width: 150px;
    font-size: 20px;
    outline: none;
    text-shadow: 2px 2px 5px red;
}

.login-moon-div {
    /* height: 320px;
    width: 100%; */
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.login-moon-image {
    width: 240px;
    height: 240px;
    animation: Moon-logo-spin infinite 20s linear;
    border-radius: 100%;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
}

@keyframes Moon-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
   } 
