.health-container{
    height: 85px;
    width: 15px;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: absolute;
    top: 452px;
    left: 155px;
    z-index: 2;
}

.health-meter-container{
    width: 80%;
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.health-meter{
    width: 100%;
    background: rgb(36, 228, 36);
    border-radius: 5px;
}